@font-face {
    font-family: 'HankenGrotesk';
    src: url(font/HankenGrotesk-VariableFont_wght.ttf);
}

* {
    font-family: 'HankenGrotesk';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    border-radius: 20px;
    box-shadow: 4px 11px 20px 4px rgba(235, 241, 255, 1);
}

.left-container {
    width: 220px;
    height: auto;
    color: #fff;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px 33px;
}

.left-container p:first-child {
    opacity: .7;
    font-size: 14px;
    font-weight: 400;
}

.circle {
    width: 110px;
    height: 110px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.circle b {
    font-size: 40px;
    font-weight: 800
}

.circle p {
    opacity: 0.4;
    font-size: x-small;

}

.left-container-paragraphs {
    text-align: center;
    opacity: .7;
    font-size: 11px;
    font-weight: 300;
    margin: 8px 0;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 23px 25px;
}

.right-container div:first-child:not([class]) {
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0 0 13px 0;
}

.right-boxes {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(221, 100%, 96%);
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 7px;

}

.react-box {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0, 100%, 67%, 0.075);
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 7px;
}

.react-icon-box {
    color: hsl(0, 100%, 67%);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
}

.react-icon-box img {
    width: 13px;
    height: 13px;
    margin: 0 5px 0 0;
}

.memory-box {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(39, 100%, 56%, 0.075);
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 7px;
}

.memory-icon-box {
    color: hsl(39, 100%, 56%);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
}

.memory-icon-box img {
    width: 13px;
    height: 13px;
    margin: 0 5px 0 0;
}

.verbal-box {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(166, 100%, 37%, 0.075);
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 7px;
}

.verbal-icon-box {
    color: hsl(166, 100%, 37%);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
}

.verbal-icon-box img {
    width: 13px;
    height: 13px;
    margin: 0 5px 0 0;
}

.visual-box {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsla(234, 85%, 45%, 0.075);
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 7px;
}

.visual-icon-box {
    color: hsl(234, 85%, 45%);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
}

.visual-icon-box img {

    width: 13px;
    height: 13px;
    margin: 0 5px 0 0;
}

.point-number-container {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 11px;
}

.point-number-part2 {
    display: flex;
    align-items: center;
    opacity: .5;
    margin: 0 0 0 4px;
}

.continue-btn {
    width: 100%;
    border-radius: 30px;
    outline: 0;
    border: 0;
    background-color: hsl(245.74deg 87.85% 58.04%);
    color: #fff;
    padding: 8px 0;
    margin: 20px 0 0 0;
}

.continue-btn:disabled {
    background-color: hsl(224, 30%, 27%);
}